# [KutuphaneDb]

In [0]:
USE [master]
GO

In [0]:
/****** Object:  Database [KutuphaneDb]    Script Date: 25 Ağu 2023 15:48:59 ******/
CREATE DATABASE [KutuphaneDb]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'KutuphaneDb', FILENAME = N'D:\sqlserver\MSSQL16.SQLSERVER\MSSQL\DATA\KutuphaneDb.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'KutuphaneDb_log', FILENAME = N'D:\sqlserver\MSSQL16.SQLSERVER\MSSQL\DATA\KutuphaneDb_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
ALTER DATABASE [KutuphaneDb] SET COMPATIBILITY_LEVEL = 160
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [KutuphaneDb].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
ALTER DATABASE [KutuphaneDb] SET ANSI_NULL_DEFAULT OFF 
GO
ALTER DATABASE [KutuphaneDb] SET ANSI_NULLS OFF 
GO
ALTER DATABASE [KutuphaneDb] SET ANSI_PADDING OFF 
GO
ALTER DATABASE [KutuphaneDb] SET ANSI_WARNINGS OFF 
GO
ALTER DATABASE [KutuphaneDb] SET ARITHABORT OFF 
GO
ALTER DATABASE [KutuphaneDb] SET AUTO_CLOSE OFF 
GO
ALTER DATABASE [KutuphaneDb] SET AUTO_SHRINK OFF 
GO
ALTER DATABASE [KutuphaneDb] SET AUTO_UPDATE_STATISTICS ON 
GO
ALTER DATABASE [KutuphaneDb] SET CURSOR_CLOSE_ON_COMMIT OFF 
GO
ALTER DATABASE [KutuphaneDb] SET CURSOR_DEFAULT  GLOBAL 
GO
ALTER DATABASE [KutuphaneDb] SET CONCAT_NULL_YIELDS_NULL OFF 
GO
ALTER DATABASE [KutuphaneDb] SET NUMERIC_ROUNDABORT OFF 
GO
ALTER DATABASE [KutuphaneDb] SET QUOTED_IDENTIFIER OFF 
GO
ALTER DATABASE [KutuphaneDb] SET RECURSIVE_TRIGGERS OFF 
GO
ALTER DATABASE [KutuphaneDb] SET  DISABLE_BROKER 
GO
ALTER DATABASE [KutuphaneDb] SET AUTO_UPDATE_STATISTICS_ASYNC OFF 
GO
ALTER DATABASE [KutuphaneDb] SET DATE_CORRELATION_OPTIMIZATION OFF 
GO
ALTER DATABASE [KutuphaneDb] SET TRUSTWORTHY OFF 
GO
ALTER DATABASE [KutuphaneDb] SET ALLOW_SNAPSHOT_ISOLATION OFF 
GO
ALTER DATABASE [KutuphaneDb] SET PARAMETERIZATION SIMPLE 
GO
ALTER DATABASE [KutuphaneDb] SET READ_COMMITTED_SNAPSHOT OFF 
GO
ALTER DATABASE [KutuphaneDb] SET HONOR_BROKER_PRIORITY OFF 
GO
ALTER DATABASE [KutuphaneDb] SET RECOVERY FULL 
GO
ALTER DATABASE [KutuphaneDb] SET  MULTI_USER 
GO
ALTER DATABASE [KutuphaneDb] SET PAGE_VERIFY CHECKSUM  
GO
ALTER DATABASE [KutuphaneDb] SET DB_CHAINING OFF 
GO
ALTER DATABASE [KutuphaneDb] SET FILESTREAM( NON_TRANSACTED_ACCESS = OFF ) 
GO
ALTER DATABASE [KutuphaneDb] SET TARGET_RECOVERY_TIME = 60 SECONDS 
GO
ALTER DATABASE [KutuphaneDb] SET DELAYED_DURABILITY = DISABLED 
GO
ALTER DATABASE [KutuphaneDb] SET ACCELERATED_DATABASE_RECOVERY = OFF  
GO
EXEC sys.sp_db_vardecimal_storage_format N'KutuphaneDb', N'ON'
GO
ALTER DATABASE [KutuphaneDb] SET QUERY_STORE = ON
GO
ALTER DATABASE [KutuphaneDb] SET QUERY_STORE (OPERATION_MODE = READ_WRITE, CLEANUP_POLICY = (STALE_QUERY_THRESHOLD_DAYS = 30), DATA_FLUSH_INTERVAL_SECONDS = 900, INTERVAL_LENGTH_MINUTES = 60, MAX_STORAGE_SIZE_MB = 1000, QUERY_CAPTURE_MODE = AUTO, SIZE_BASED_CLEANUP_MODE = AUTO, MAX_PLANS_PER_QUERY = 200, WAIT_STATS_CAPTURE_MODE = ON)
GO

# [dbo].[tblRol]

In [0]:
USE [KutuphaneDb]
GO

In [0]:
/****** Object:  Table [dbo].[tblRol]    Script Date: 25 Ağu 2023 15:48:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblRol](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Ad] [varchar](50) NOT NULL,
 CONSTRAINT [PK_Rol] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO

# [dbo].[tblKullanici]

In [0]:
/****** Object:  Table [dbo].[tblKullanici]    Script Date: 25 Ağu 2023 15:48:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblKullanici](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Ad] [varchar](50) NOT NULL,
	[Soyad] [varchar](50) NOT NULL,
	[Email] [varchar](100) NOT NULL,
	[Sifre] [varchar](250) NOT NULL,
	[TelNo] [varchar](11) NULL,
	[RolId] [int] NOT NULL,
	[Aktif] [bit] NULL,
	[KayitTarih] [datetime] NULL,
	[Adres] [nvarchar](max) NULL,
	[Foto] [nvarchar](max) NULL,
 CONSTRAINT [PK__Kullanic__3214EC07F95B8212] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO

# [dbo].[V_Kullanici]

In [0]:
/****** Object:  View [dbo].[V_Kullanici]    Script Date: 25 Ağu 2023 15:48:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[V_Kullanici]
AS
SELECT dbo.tblKullanici.Id, dbo.tblKullanici.Ad, dbo.tblKullanici.Soyad, dbo.tblKullanici.Email, dbo.tblKullanici.Sifre, dbo.tblKullanici.TelNo, dbo.tblKullanici.Aktif, dbo.tblKullanici.KayitTarih, dbo.tblKullanici.Adres, dbo.tblKullanici.Foto, 
                  dbo.tblRol.Id AS RolId, dbo.tblRol.Ad AS RolAd
FROM     dbo.tblKullanici LEFT OUTER JOIN
                  dbo.tblRol ON dbo.tblKullanici.RolId = dbo.tblRol.Id
GO

# [dbo].[tblKategori]

In [0]:
/****** Object:  Table [dbo].[tblKategori]    Script Date: 25 Ağu 2023 15:48:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblKategori](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Ad] [varchar](50) NOT NULL,
 CONSTRAINT [PK_Kategori] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO

# [dbo].[tblKitap]

In [0]:
/****** Object:  Table [dbo].[tblKitap]    Script Date: 25 Ağu 2023 15:48:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblKitap](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Ad] [varchar](255) NOT NULL,
	[Yazar] [nvarchar](255) NOT NULL,
	[YayinYili] [int] NOT NULL,
	[ISBN] [varchar](20) NOT NULL,
	[KategoriId] [int] NOT NULL,
 CONSTRAINT [PK__Kitap__3214EC07BBCE9B77] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO

# [dbo].[V_Kitap]

In [0]:
/****** Object:  View [dbo].[V_Kitap]    Script Date: 25 Ağu 2023 15:48:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[V_Kitap]
AS
SELECT dbo.tblKategori.Id AS Kategori_id, dbo.tblKategori.Ad AS Kategori_Ad, dbo.tblKitap.*
FROM     dbo.tblKategori INNER JOIN
                  dbo.tblKitap ON dbo.tblKategori.Id = dbo.tblKitap.KategoriId
GO

# [dbo].[tblKiralama]

In [0]:
/****** Object:  Table [dbo].[tblKiralama]    Script Date: 25 Ağu 2023 15:48:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblKiralama](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[KitapId] [int] NOT NULL,
	[KullaniciId] [int] NOT NULL,
	[KiralamaTarih] [datetime] NOT NULL,
	[BitisTarih] [datetime] NOT NULL,
	[GeriVerisTarih] [datetime] NULL,
 CONSTRAINT [PK_tblKiralama] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO

# [dbo].[V_Kiralama]

In [0]:
/****** Object:  View [dbo].[V_Kiralama]    Script Date: 25 Ağu 2023 15:48:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[V_Kiralama]
AS
SELECT dbo.tblKiralama.Id, dbo.tblKitap.Id AS KitapId, dbo.tblKitap.Ad AS KitapAd, dbo.tblKullanici.Ad AS KullaniciAd, dbo.tblKullanici.Id AS KullaniciId, dbo.tblKiralama.KiralamaTarih, dbo.tblKiralama.BitisTarih, dbo.tblKiralama.GeriVerisTarih
FROM     dbo.tblKiralama LEFT OUTER JOIN
                  dbo.tblKitap ON dbo.tblKiralama.KitapId = dbo.tblKitap.Id LEFT OUTER JOIN
                  dbo.tblKullanici ON dbo.tblKiralama.KullaniciId = dbo.tblKullanici.Id
GO

# [dbo].[tblKategori]

In [0]:
SET IDENTITY_INSERT [dbo].[tblKategori] ON 
INSERT [dbo].[tblKategori] ([Id], [Ad]) VALUES (1, N'Hikaye')
INSERT [dbo].[tblKategori] ([Id], [Ad]) VALUES (2, N'Roman')
INSERT [dbo].[tblKategori] ([Id], [Ad]) VALUES (3, N'Şiir')
INSERT [dbo].[tblKategori] ([Id], [Ad]) VALUES (4, N'Biyografi')
INSERT [dbo].[tblKategori] ([Id], [Ad]) VALUES (5, N'Deneme')
INSERT [dbo].[tblKategori] ([Id], [Ad]) VALUES (6, N'Felsefe')
INSERT [dbo].[tblKategori] ([Id], [Ad]) VALUES (7, N'Masal')
SET IDENTITY_INSERT [dbo].[tblKategori] OFF
GO

# [dbo].[tblKiralama]

In [0]:
SET IDENTITY_INSERT [dbo].[tblKiralama] ON 
INSERT [dbo].[tblKiralama] ([Id], [KitapId], [KullaniciId], [KiralamaTarih], [BitisTarih], [GeriVerisTarih]) VALUES (6, 1, 2, CAST(N'2023-08-22T14:48:47.000' AS DateTime), CAST(N'2023-09-05T00:00:00.000' AS DateTime), CAST(N'2023-08-22T15:10:54.000' AS DateTime))
INSERT [dbo].[tblKiralama] ([Id], [KitapId], [KullaniciId], [KiralamaTarih], [BitisTarih], [GeriVerisTarih]) VALUES (9, 1, 2, CAST(N'2023-08-22T14:44:57.000' AS DateTime), CAST(N'2023-09-05T00:00:00.000' AS DateTime), CAST(N'2023-08-22T16:16:52.000' AS DateTime))
INSERT [dbo].[tblKiralama] ([Id], [KitapId], [KullaniciId], [KiralamaTarih], [BitisTarih], [GeriVerisTarih]) VALUES (11, 1, 2, CAST(N'2023-08-22T16:17:15.000' AS DateTime), CAST(N'2023-09-05T00:00:00.000' AS DateTime), CAST(N'2023-08-23T14:50:09.000' AS DateTime))
INSERT [dbo].[tblKiralama] ([Id], [KitapId], [KullaniciId], [KiralamaTarih], [BitisTarih], [GeriVerisTarih]) VALUES (12, 1, 2, CAST(N'2023-08-22T13:57:57.000' AS DateTime), CAST(N'2023-09-05T00:00:00.000' AS DateTime), CAST(N'2023-08-24T15:31:30.000' AS DateTime))
INSERT [dbo].[tblKiralama] ([Id], [KitapId], [KullaniciId], [KiralamaTarih], [BitisTarih], [GeriVerisTarih]) VALUES (13, 1, 2, CAST(N'2023-08-18T11:15:22.000' AS DateTime), CAST(N'2023-08-01T00:00:00.000' AS DateTime), NULL)
INSERT [dbo].[tblKiralama] ([Id], [KitapId], [KullaniciId], [KiralamaTarih], [BitisTarih], [GeriVerisTarih]) VALUES (14, 5, 3, CAST(N'2023-08-18T11:52:45.000' AS DateTime), CAST(N'2023-09-01T00:00:00.000' AS DateTime), NULL)
INSERT [dbo].[tblKiralama] ([Id], [KitapId], [KullaniciId], [KiralamaTarih], [BitisTarih], [GeriVerisTarih]) VALUES (15, 12, 3, CAST(N'2023-08-18T11:53:37.000' AS DateTime), CAST(N'2023-09-01T00:00:00.000' AS DateTime), NULL)
INSERT [dbo].[tblKiralama] ([Id], [KitapId], [KullaniciId], [KiralamaTarih], [BitisTarih], [GeriVerisTarih]) VALUES (1012, 4, 1002, CAST(N'2023-08-21T13:19:23.000' AS DateTime), CAST(N'2023-09-04T00:00:00.000' AS DateTime), NULL)
INSERT [dbo].[tblKiralama] ([Id], [KitapId], [KullaniciId], [KiralamaTarih], [BitisTarih], [GeriVerisTarih]) VALUES (1013, 12, 1003, CAST(N'2023-08-21T13:24:14.000' AS DateTime), CAST(N'2023-09-04T00:00:00.000' AS DateTime), NULL)
INSERT [dbo].[tblKiralama] ([Id], [KitapId], [KullaniciId], [KiralamaTarih], [BitisTarih], [GeriVerisTarih]) VALUES (1014, 3, 1002, CAST(N'2023-08-23T15:02:19.000' AS DateTime), CAST(N'2023-09-06T00:00:00.000' AS DateTime), NULL)
INSERT [dbo].[tblKiralama] ([Id], [KitapId], [KullaniciId], [KiralamaTarih], [BitisTarih], [GeriVerisTarih]) VALUES (1015, 10, 1004, CAST(N'2023-08-23T15:03:08.000' AS DateTime), CAST(N'2023-09-06T00:00:00.000' AS DateTime), NULL)
INSERT [dbo].[tblKiralama] ([Id], [KitapId], [KullaniciId], [KiralamaTarih], [BitisTarih], [GeriVerisTarih]) VALUES (1016, 8, 1004, CAST(N'2023-08-23T15:03:53.000' AS DateTime), CAST(N'2023-09-06T00:00:00.000' AS DateTime), NULL)
SET IDENTITY_INSERT [dbo].[tblKiralama] OFF
GO

# [dbo].[tblKitap]

In [0]:
SET IDENTITY_INSERT [dbo].[tblKitap] ON 
INSERT [dbo].[tblKitap] ([Id], [Ad], [Yazar], [YayinYili], [ISBN], [KategoriId]) VALUES (1, N'Kitap1', N'Yazar1', 2023, N'1', 1)
INSERT [dbo].[tblKitap] ([Id], [Ad], [Yazar], [YayinYili], [ISBN], [KategoriId]) VALUES (2, N'Kitap2', N'Yazar2', 2022, N'2', 2)
INSERT [dbo].[tblKitap] ([Id], [Ad], [Yazar], [YayinYili], [ISBN], [KategoriId]) VALUES (3, N'Kitap3', N'Yazar3', 2020, N'3', 3)
INSERT [dbo].[tblKitap] ([Id], [Ad], [Yazar], [YayinYili], [ISBN], [KategoriId]) VALUES (4, N'Kitap4', N'Yazar4', 2019, N'4', 4)
INSERT [dbo].[tblKitap] ([Id], [Ad], [Yazar], [YayinYili], [ISBN], [KategoriId]) VALUES (5, N'kitap5', N'yazar5', 2020, N'5', 5)
INSERT [dbo].[tblKitap] ([Id], [Ad], [Yazar], [YayinYili], [ISBN], [KategoriId]) VALUES (6, N'kitap6', N'yazar6', 2020, N'6', 6)
INSERT [dbo].[tblKitap] ([Id], [Ad], [Yazar], [YayinYili], [ISBN], [KategoriId]) VALUES (7, N'kitap7', N'yazar7', 2020, N'7', 7)
INSERT [dbo].[tblKitap] ([Id], [Ad], [Yazar], [YayinYili], [ISBN], [KategoriId]) VALUES (8, N'kitap8', N'yazar8', 2020, N'8', 6)
INSERT [dbo].[tblKitap] ([Id], [Ad], [Yazar], [YayinYili], [ISBN], [KategoriId]) VALUES (10, N'kitap9', N'yazar9', 2020, N'9', 5)
INSERT [dbo].[tblKitap] ([Id], [Ad], [Yazar], [YayinYili], [ISBN], [KategoriId]) VALUES (11, N'kitap10', N'yazar10', 2020, N'10', 4)
INSERT [dbo].[tblKitap] ([Id], [Ad], [Yazar], [YayinYili], [ISBN], [KategoriId]) VALUES (12, N'kitap11', N'yazar11', 2020, N'11', 2)
INSERT [dbo].[tblKitap] ([Id], [Ad], [Yazar], [YayinYili], [ISBN], [KategoriId]) VALUES (14, N'kitap12', N'yazar12', 2020, N'12', 2)
INSERT [dbo].[tblKitap] ([Id], [Ad], [Yazar], [YayinYili], [ISBN], [KategoriId]) VALUES (15, N'kitap tür deneme', N'deneme', 2021, N'13', 3)
INSERT [dbo].[tblKitap] ([Id], [Ad], [Yazar], [YayinYili], [ISBN], [KategoriId]) VALUES (16, N'kitap deneme 2', N'deneme2', 2021, N'14', 4)
SET IDENTITY_INSERT [dbo].[tblKitap] OFF
GO

# [dbo].[tblKullanici]

In [0]:
SET IDENTITY_INSERT [dbo].[tblKullanici] ON 
INSERT [dbo].[tblKullanici] ([Id], [Ad], [Soyad], [Email], [Sifre], [TelNo], [RolId], [Aktif], [KayitTarih], [Adres], [Foto]) VALUES (2, N'Bilal', N'Aydogan', N'bilal@gmail.com', N'bilal123', N'123', 2, 1, CAST(N'2023-08-04T00:00:00.000' AS DateTime), N'random', N'random')
INSERT [dbo].[tblKullanici] ([Id], [Ad], [Soyad], [Email], [Sifre], [TelNo], [RolId], [Aktif], [KayitTarih], [Adres], [Foto]) VALUES (3, N'kayit', N'deneme', N'deneme@gmail.com', N'bilal', N'123', 3, 1, CAST(N'2023-08-04T16:12:54.093' AS DateTime), N'random', N'random')
INSERT [dbo].[tblKullanici] ([Id], [Ad], [Soyad], [Email], [Sifre], [TelNo], [RolId], [Aktif], [KayitTarih], [Adres], [Foto]) VALUES (1002, N'bilal1', N'aydogan', N'bil@gmail.com', N'123', N'123', 1, 1, CAST(N'2023-08-24T23:09:00.000' AS DateTime), N'random', NULL)
INSERT [dbo].[tblKullanici] ([Id], [Ad], [Soyad], [Email], [Sifre], [TelNo], [RolId], [Aktif], [KayitTarih], [Adres], [Foto]) VALUES (1003, N'deneme2', N'den', N'denden@gmail.com', N'123456', N'123', 1, 0, CAST(N'2023-08-18T14:21:23.000' AS DateTime), N'adres', NULL)
INSERT [dbo].[tblKullanici] ([Id], [Ad], [Soyad], [Email], [Sifre], [TelNo], [RolId], [Aktif], [KayitTarih], [Adres], [Foto]) VALUES (1004, N'Admin', N'deneme', N'admin@gmail.com', N'bilal', N'123', 2, 1, CAST(N'2023-08-23T13:12:22.000' AS DateTime), N'adres', NULL)
SET IDENTITY_INSERT [dbo].[tblKullanici] OFF
GO

# [dbo].[tblRol]

In [0]:
SET IDENTITY_INSERT [dbo].[tblRol] ON 
INSERT [dbo].[tblRol] ([Id], [Ad]) VALUES (1, N'Kullanici')
INSERT [dbo].[tblRol] ([Id], [Ad]) VALUES (2, N'Admin')
INSERT [dbo].[tblRol] ([Id], [Ad]) VALUES (3, N'Personel')
INSERT [dbo].[tblRol] ([Id], [Ad]) VALUES (4, N'Bilal')
SET IDENTITY_INSERT [dbo].[tblRol] OFF
GO

# [UQ__Kitap__447D36EAC57D1E23]

In [0]:
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Kitap__447D36EAC57D1E23]    Script Date: 25 Ağu 2023 15:48:59 ******/
ALTER TABLE [dbo].[tblKitap] ADD  CONSTRAINT [UQ__Kitap__447D36EAC57D1E23] UNIQUE NONCLUSTERED 
(
	[ISBN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO

# [UQ__Kullanic__A9D105349A1A5FF4]

In [0]:
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Kullanic__A9D105349A1A5FF4]    Script Date: 25 Ağu 2023 15:48:59 ******/
ALTER TABLE [dbo].[tblKullanici] ADD  CONSTRAINT [UQ__Kullanic__A9D105349A1A5FF4] UNIQUE NONCLUSTERED 
(
	[Email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO

# [FK_Kiralama_Kitap]

In [0]:
ALTER TABLE [dbo].[tblKiralama]  WITH CHECK ADD  CONSTRAINT [FK_Kiralama_Kitap] FOREIGN KEY([KitapId])
REFERENCES [dbo].[tblKitap] ([Id])
GO
ALTER TABLE [dbo].[tblKiralama] CHECK CONSTRAINT [FK_Kiralama_Kitap]
GO

# [FK_tblKiralama_tblKullanici]

In [0]:
ALTER TABLE [dbo].[tblKiralama]  WITH CHECK ADD  CONSTRAINT [FK_tblKiralama_tblKullanici] FOREIGN KEY([KullaniciId])
REFERENCES [dbo].[tblKullanici] ([Id])
GO
ALTER TABLE [dbo].[tblKiralama] CHECK CONSTRAINT [FK_tblKiralama_tblKullanici]
GO

# [FK_tblKitap_tblKategori]

In [0]:
ALTER TABLE [dbo].[tblKitap]  WITH CHECK ADD  CONSTRAINT [FK_tblKitap_tblKategori] FOREIGN KEY([KategoriId])
REFERENCES [dbo].[tblKategori] ([Id])
GO
ALTER TABLE [dbo].[tblKitap] CHECK CONSTRAINT [FK_tblKitap_tblKategori]
GO

# [FK_Kullanici_Rol]

In [0]:
ALTER TABLE [dbo].[tblKullanici]  WITH CHECK ADD  CONSTRAINT [FK_Kullanici_Rol] FOREIGN KEY([RolId])
REFERENCES [dbo].[tblRol] ([Id])
GO
ALTER TABLE [dbo].[tblKullanici] CHECK CONSTRAINT [FK_Kullanici_Rol]
GO

# [MS_DiagramPane1]

In [0]:
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPane1', @value=N'[0E232FF0-B466-11cf-A24F-00AA00A3EFFF, 1.00]
Begin DesignProperties = 
   Begin PaneConfigurations = 
      Begin PaneConfiguration = 0
         NumPanes = 4
         Configuration = "(H (1[40] 4[20] 2[20] 3) )"
      End
      Begin PaneConfiguration = 1
         NumPanes = 3
         Configuration = "(H (1 [50] 4 [25] 3))"
      End
      Begin PaneConfiguration = 2
         NumPanes = 3
         Configuration = "(H (1 [50] 2 [25] 3))"
      End
      Begin PaneConfiguration = 3
         NumPanes = 3
         Configuration = "(H (4 [30] 2 [40] 3))"
      End
      Begin PaneConfiguration = 4
         NumPanes = 2
         Configuration = "(H (1 [56] 3))"
      End
      Begin PaneConfiguration = 5
         NumPanes = 2
         Configuration = "(H (2 [66] 3))"
      End
      Begin PaneConfiguration = 6
         NumPanes = 2
         Configuration = "(H (4 [50] 3))"
      End
      Begin PaneConfiguration = 7
         NumPanes = 1
         Configuration = "(V (3))"
      End
      Begin PaneConfiguration = 8
         NumPanes = 3
         Configuration = "(H (1[56] 4[18] 2) )"
      End
      Begin PaneConfiguration = 9
         NumPanes = 2
         Configuration = "(H (1 [75] 4))"
      End
      Begin PaneConfiguration = 10
         NumPanes = 2
         Configuration = "(H (1[66] 2) )"
      End
      Begin PaneConfiguration = 11
         NumPanes = 2
         Configuration = "(H (4 [60] 2))"
      End
      Begin PaneConfiguration = 12
         NumPanes = 1
         Configuration = "(H (1) )"
      End
      Begin PaneConfiguration = 13
         NumPanes = 1
         Configuration = "(V (4))"
      End
      Begin PaneConfiguration = 14
         NumPanes = 1
         Configuration = "(V (2))"
      End
      ActivePaneConfig = 0
   End
   Begin DiagramPane = 
      Begin Origin = 
         Top = 0
         Left = 0
      End
      Begin Tables = 
         Begin Table = "tblKiralama"
            Begin Extent = 
               Top = 7
               Left = 48
               Bottom = 170
               Right = 242
            End
            DisplayFlags = 280
            TopColumn = 0
         End
         Begin Table = "tblKitap"
            Begin Extent = 
               Top = 175
               Left = 48
               Bottom = 338
               Right = 268
            End
            DisplayFlags = 280
            TopColumn = 0
         End
         Begin Table = "tblKullanici"
            Begin Extent = 
               Top = 343
               Left = 48
               Bottom = 506
               Right = 242
            End
            DisplayFlags = 280
            TopColumn = 0
         End
      End
   End
   Begin SQLPane = 
   End
   Begin DataPane = 
      Begin ParameterDefaults = ""
      End
   End
   Begin CriteriaPane = 
      Begin ColumnWidths = 11
         Column = 1440
         Alias = 900
         Table = 1170
         Output = 720
         Append = 1400
         NewValue = 1170
         SortType = 1350
         SortOrder = 1410
         GroupBy = 1350
         Filter = 1350
         Or = 1350
         Or = 1350
         Or = 1350
      End
   End
End
' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'V_Kiralama'
GO

# [MS_DiagramPaneCount]

In [0]:
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPaneCount', @value=1 , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'V_Kiralama'
GO

# [MS_DiagramPane1]

In [0]:
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPane1', @value=N'[0E232FF0-B466-11cf-A24F-00AA00A3EFFF, 1.00]
Begin DesignProperties = 
   Begin PaneConfigurations = 
      Begin PaneConfiguration = 0
         NumPanes = 4
         Configuration = "(H (1[41] 4[20] 2[11] 3) )"
      End
      Begin PaneConfiguration = 1
         NumPanes = 3
         Configuration = "(H (1 [50] 4 [25] 3))"
      End
      Begin PaneConfiguration = 2
         NumPanes = 3
         Configuration = "(H (1 [50] 2 [25] 3))"
      End
      Begin PaneConfiguration = 3
         NumPanes = 3
         Configuration = "(H (4 [30] 2 [40] 3))"
      End
      Begin PaneConfiguration = 4
         NumPanes = 2
         Configuration = "(H (1 [56] 3))"
      End
      Begin PaneConfiguration = 5
         NumPanes = 2
         Configuration = "(H (2 [66] 3))"
      End
      Begin PaneConfiguration = 6
         NumPanes = 2
         Configuration = "(H (4 [50] 3))"
      End
      Begin PaneConfiguration = 7
         NumPanes = 1
         Configuration = "(V (3))"
      End
      Begin PaneConfiguration = 8
         NumPanes = 3
         Configuration = "(H (1[56] 4[18] 2) )"
      End
      Begin PaneConfiguration = 9
         NumPanes = 2
         Configuration = "(H (1 [75] 4))"
      End
      Begin PaneConfiguration = 10
         NumPanes = 2
         Configuration = "(H (1[66] 2) )"
      End
      Begin PaneConfiguration = 11
         NumPanes = 2
         Configuration = "(H (4 [60] 2))"
      End
      Begin PaneConfiguration = 12
         NumPanes = 1
         Configuration = "(H (1) )"
      End
      Begin PaneConfiguration = 13
         NumPanes = 1
         Configuration = "(V (4))"
      End
      Begin PaneConfiguration = 14
         NumPanes = 1
         Configuration = "(V (2))"
      End
      ActivePaneConfig = 0
   End
   Begin DiagramPane = 
      Begin Origin = 
         Top = 0
         Left = 0
      End
      Begin Tables = 
         Begin Table = "tblKategori"
            Begin Extent = 
               Top = 7
               Left = 48
               Bottom = 126
               Right = 242
            End
            DisplayFlags = 280
            TopColumn = 0
         End
         Begin Table = "tblKitap"
            Begin Extent = 
               Top = 7
               Left = 290
               Bottom = 170
               Right = 484
            End
            DisplayFlags = 280
            TopColumn = 0
         End
      End
   End
   Begin SQLPane = 
   End
   Begin DataPane = 
      Begin ParameterDefaults = ""
      End
      Begin ColumnWidths = 9
         Width = 284
         Width = 1200
         Width = 1200
         Width = 1200
         Width = 1200
         Width = 1200
         Width = 1200
         Width = 1200
         Width = 1200
      End
   End
   Begin CriteriaPane = 
      Begin ColumnWidths = 11
         Column = 1440
         Alias = 900
         Table = 1170
         Output = 720
         Append = 1400
         NewValue = 1170
         SortType = 1350
         SortOrder = 1410
         GroupBy = 1350
         Filter = 1350
         Or = 1350
         Or = 1350
         Or = 1350
      End
   End
End
' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'V_Kitap'
GO

# [MS_DiagramPaneCount]

In [0]:
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPaneCount', @value=1 , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'V_Kitap'
GO

# [MS_DiagramPane1]

In [0]:
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPane1', @value=N'[0E232FF0-B466-11cf-A24F-00AA00A3EFFF, 1.00]
Begin DesignProperties = 
   Begin PaneConfigurations = 
      Begin PaneConfiguration = 0
         NumPanes = 4
         Configuration = "(H (1[41] 4[20] 2[16] 3) )"
      End
      Begin PaneConfiguration = 1
         NumPanes = 3
         Configuration = "(H (1 [50] 4 [25] 3))"
      End
      Begin PaneConfiguration = 2
         NumPanes = 3
         Configuration = "(H (1 [50] 2 [25] 3))"
      End
      Begin PaneConfiguration = 3
         NumPanes = 3
         Configuration = "(H (4 [30] 2 [40] 3))"
      End
      Begin PaneConfiguration = 4
         NumPanes = 2
         Configuration = "(H (1 [56] 3))"
      End
      Begin PaneConfiguration = 5
         NumPanes = 2
         Configuration = "(H (2 [66] 3))"
      End
      Begin PaneConfiguration = 6
         NumPanes = 2
         Configuration = "(H (4 [50] 3))"
      End
      Begin PaneConfiguration = 7
         NumPanes = 1
         Configuration = "(V (3))"
      End
      Begin PaneConfiguration = 8
         NumPanes = 3
         Configuration = "(H (1[56] 4[18] 2) )"
      End
      Begin PaneConfiguration = 9
         NumPanes = 2
         Configuration = "(H (1 [75] 4))"
      End
      Begin PaneConfiguration = 10
         NumPanes = 2
         Configuration = "(H (1[66] 2) )"
      End
      Begin PaneConfiguration = 11
         NumPanes = 2
         Configuration = "(H (4 [60] 2))"
      End
      Begin PaneConfiguration = 12
         NumPanes = 1
         Configuration = "(H (1) )"
      End
      Begin PaneConfiguration = 13
         NumPanes = 1
         Configuration = "(V (4))"
      End
      Begin PaneConfiguration = 14
         NumPanes = 1
         Configuration = "(V (2))"
      End
      ActivePaneConfig = 0
   End
   Begin DiagramPane = 
      Begin Origin = 
         Top = 0
         Left = 0
      End
      Begin Tables = 
         Begin Table = "tblKullanici"
            Begin Extent = 
               Top = 7
               Left = 48
               Bottom = 285
               Right = 253
            End
            DisplayFlags = 280
            TopColumn = 2
         End
         Begin Table = "tblRol"
            Begin Extent = 
               Top = 7
               Left = 290
               Bottom = 212
               Right = 556
            End
            DisplayFlags = 280
            TopColumn = 0
         End
      End
   End
   Begin SQLPane = 
   End
   Begin DataPane = 
      Begin ParameterDefaults = ""
      End
      Begin ColumnWidths = 13
         Width = 284
         Width = 1200
         Width = 1200
         Width = 1200
         Width = 1200
         Width = 1200
         Width = 1200
         Width = 1200
         Width = 1200
         Width = 1200
         Width = 1200
         Width = 1200
         Width = 1200
      End
   End
   Begin CriteriaPane = 
      Begin ColumnWidths = 11
         Column = 1440
         Alias = 900
         Table = 1170
         Output = 720
         Append = 1400
         NewValue = 1170
         SortType = 1350
         SortOrder = 1410
         GroupBy = 1350
         Filter = 1350
         Or = 1350
         Or = 1350
         Or = 1350
      End
   End
End
' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'V_Kullanici'
GO

# [MS_DiagramPaneCount]

In [0]:
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPaneCount', @value=1 , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'V_Kullanici'
GO

# [KutuphaneDb]

In [0]:
USE [master]
GO

In [0]:
ALTER DATABASE [KutuphaneDb] SET  READ_WRITE 
GO